/*#region GENERAL SETTINGS*/

* {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

body {
    background-color: #fafafa;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.log-in-container,
input,
hr,
.sign-up-container {
    border: 1px solid rgb(223, 223, 223);
}

.fb-login,
.sign-up-container,
.footer-container,
.forget-pass-container {
    text-align: center;
    margin-top: 1rem;
}

.or-container,
.fb-login {
    margin-top: 0.1rem;
    margin-bottom: 0.25rem;
}

.fb-text,
.sign-up-container a,
.forget-pass-container a,
.insta-other-page a,
.insta-entertainment-page a,
.copyright-name a {
    text-decoration: none;
}

.left-image-container {
    margin-left: -5rem;
}

.insta-brand-img {
    width: 450px;
}

.right-form-container {
    margin-bottom: 1px;
    margin-left: 0.5rem;
    width: 325px;
}

.text-logo {
    width: 180px;
}

.insta-text-logo {
    text-align: center;
}

.log-in-container {
    padding: 2rem;
    margin: 7rem 0 1rem;
    background-color: white;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}

input {
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
}

input[type='text'] {
    margin-bottom: 0.5rem;
}

.log-in-btn {
    background-color: #3095f3;
    color: white;
    padding: 0.3rem;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 1rem;
}

.or-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

hr {
    width: 100px;
}

.or-text-container P {
    color: rgb(104, 104, 104);
}

.fa-facebook-square {
    color: #3d5a98;
    margin: 5px 5px 5px 0px;
    font-size: 20px;
}

.fb-text {
    font-size: 14px;
    color: #3d5a98;
}

.forget-pass-container a {
    color: #3d5a98;
}

.sign-up-container {
    background-color: white;
    padding: 0.5rem;
}

.the-apps-container p {
    text-align: center;
}

.type-of-app-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.type-of-app-container>img {
    height: 40px;
    margin: 0 0.5rem 0 0;
}

.footer-container {
    color: grey;
    margin: 2rem 0;
}

.insta-other-page a,
.insta-entertainment-page a,
.copyright-name a {
    color: grey;
    margin: 1rem 1rem 1rem 0;
}

.insta-other-page,
.insta-entertainment-page,
.copyright-name {
    margin-bottom: 0.5rem;
}

select {
    padding: 10px;
    border: none;
    margin: 0 10px 0 0;
    color: grey;
}
