<p>This is Laboratory Work #6<br>
  In this laboratory work you have to try to use the Route and Http modules in your Angular project.<br>
  URL: /home - static markup page<br>
  URL: /about - static markup page<br>
  You should have CRUD (create / read / update / delete) operations for albums.<br>
  URL: /albums - a list of albums from this url. Each item should:<br>
  have delete button with implementation<br>
  be clickable, after selecting one of them, must be opened a detail page.<br>
  URL: /albums/:id - detail page of selected item (example). This page should contain:<br>
  information about selected item<br>
  editable input for changing album title and “Save” button<br>
  “Return back” button<br>
  “Photos” link which will redirect to photos page of selected album<br>
  URL: /albums/:id/photos - photos page of selected album (example). This page will render all images in any format and
  will have a “Return back” button.<br>
  Root url: “”, must be redirect to: /home<br>
  Albums and photos must be fetched using HTTP module and must be passed to components through albums.service.ts and
  must be Observable<br>
  Your components:<br>
  Home Component<br>
  About Component<br>
  Albums Component<br>
  Album Detail Component<br>
  Album Photos Component<br>
</p>
